.main {
    width: 800px;
}

.status {
    margin: 20px;
    width: 300px;
    height: 110px;
    border-bottom: 1px solid;
    text-align: center;
    float: left
}

.stamp-wrapper {
    margin: 20px;
    width: 640px;
    height: 130px;
    border-bottom: 1px solid;
    text-align: center;
    float: left
}

.stamp {
    margin: 10px;
}